<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
        <!-- Configura IISNode para manejar solicitudes a Node.js -->
        <handlers>
            <add name="iisnode" path="ApiProyect/src/index.js" verb="*" modules="iisnode" />
        </handlers>

        <!-- Reescribe todas las solicitudes al archivo index.js en ApiProyect -->
        <rewrite>
            <rules>
                <rule name="Node.js API" stopProcessing="true">
                    <match url=".*" />
                    <action type="Rewrite" url="ApiProyect/src/index.js" />
                </rule>
            </rules>
        </rewrite>

        <!-- Configuración de errores para mostrar detalles en caso de problemas -->
        <httpErrors errorMode="Detailed" />
    </system.webServer>
</configuration>